<!DOCTYPE html>
<html lang='en'>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles.css">
	<title>Safe Authentication Interface</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<header>
		<nav id="header-nav" class="navbar navbr-default">
			<div class="navbar-header">
				<div class="container-fluid">
					<img src="blue22.jpg" id="logo-img" alt="Photo" class="pull-left" />
				</div>
			</div>
		</nav>
	</header>
	<div class="hidden-xs">
		<p>Stay Safe!</p>
		<p>Keep your credentials to yourself!</p>
	</div>
		
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>