#header-nav{
	background: red;
	position: relative;
	height: 100px;
	width: 100%;
}
#logo-img{
	height: 110px;
	width: 110px;
	border-radius: 100px 100px 100px 100px;
	position: absolute;
	left: 45%;
	top:50%;
}