<!DOCTYPE html>
<html>
<head>
	<title>Reset Your Password</title>
	<meta charset='utf-8'>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<link rel='stylesheet' filename="reset_password_request.css"  version=1.1 href="/static/reset_password_request.css"> 

</head>
<body>
		<nav>
			<div id='safe-logo'>
				<div id="around-text">
					<p>SAFE</p>
				</div>	
			</div>
		</nav>
		<p id="reset-here"> Reset your Password here.</p>
		<p class="password-criterias">A strong password has :
			<ul class="password-criterias">
				<li>A length of at least 8 characters.</li>
				<li>UPPER CASE and lower case letters.</li>
				<li>Numbers and special characters (only _-!@.$^* are permitted).</li>
				<li>No credentials.</li>
			</ul>
		</p>
		<p class="password-criterias">In order to stay safe, please choose strong passwords.</p>
		
		<form action="" method="post" novalidate>
		
			{% with message = get_flashed_messages() %}
				{% if message  %}
					{% for m in message %}
						<span>{{ m }}<br></span>
					{% endfor %}
				{%  endif %}
			{% endwith  %}
						
			{{ form.hidden_tag() }}
			<p>
				{{ form.password.label    }}<br>
				{{ form.password(size=32) }}<br>
				{% for error in form.password.errors %}
					<span class = "error-message">{{ error }}</span><br>
				{% endfor %}

				{{ form.password_repeat.label    }}<br>
				{{ form.password_repeat(size=32) }}<br>
				{% for error in form.password_repeat.errors %}
					<span class = "error-message">{{ error }}</span><br>
				{% endfor %}
				{{ form.submit()       }}<br>
			</p>
		</form>
</body>
</html>
