<!DOCTYPE html>
<html>
<head>
	<title>Reset Your Password</title>
	<meta charset='utf-8'>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<link rel='stylesheet' filename="reset_password_request.css"  version=1.1 href="/static/reset_password_request.css"> 

</head>
<body>
		<nav>
			<div id='safe-logo'>
				<div id="around-text">
					<p>SAFE</p>
				</div>	
			</div>
		</nav>
		<p id="reset-here"> Reset your Password here.</p>
		<form action="" method="post" novalidate>
		
			{% with message = get_flashed_messages() %}
				{% if message  %}
					{% for m in message %}
						<span>{{ m }}<br></span>
					{% endfor %}
				{%  endif %}
			{% endwith  %}
						
			{{ form.hidden_tag() }}
			<p>
				{{ form.email.label    }}<br>
				{{ form.email(size=32) }}<br>
				{% for error in form.email.errors %}
					<span class = "error-message">{{ error }}</span><br>
				{% endfor %}
				{{ form.submit()       }}<br>
			</p>
		</form>
</body>
</html>
