<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, precheck=0">
	
	<link rel="stylesheet" type="text/css" href="/static/errors.css">
	
	<title>File Not Found</title>
</head>
<body>
	<nav>
		<div id='safe-logo'>
			<div id="around-text">
				<p>SAFE</p>
			</div>	
		</div>
	</nav>
	<div id="content">
		<h1>File Not Found</h1>
		<p><div id="around-link-back"><a href="{{ url_for('auth.login') }}">Back</a></div></p>
	</div>
</body>
</html>
